<br />
<br />
<br />
<h1>Create Events</h1>

<div class="form">
<%= form_for Event.new do |f| %>
<%= render partial: "form", locals: {:f => f}%>
<div class="form-group form-inline">
  <%# f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Create", class: "btn btn-success" %>
  <%= link_to "Cancel", root_path, class: "btn btn-warning" %>
</div>
<% end %>
</div>
